/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer {
  text-align:  center;
}

ul, li {
  text-decoration: none;
  list-style:none;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.imeBrand {
  background: url(../images/ime.svg);
  background-repeat: no-repeat;
  width: 300px;
  height: 60px;
  display: block;
}

.moduleF {
  height: 250px;
  padding: 20px;
  text-align: center;
  border-right: 5px solid white;
  cursor: pointer;
}

.moduleF:hover{
  opacity: 0.7;
}

/* Colors Module */
.red {
  background: rgb(247, 55, 55);
}

.green {
  background: rgb(57, 184, 57);
}

.blue {
  background: rgb(82, 141, 230);
}

.gray {
  background: rgb(200, 200, 200);
}

.content-brand-section {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  display: block;
  margin-top: 15%;
  overflow: hidden;
}

.ruteg{
  background: url('../images/ruteg.svg');
  background-repeat: no-repeat;
}

.liquidity{
  background: url('../images/liquidity.svg');
  background-repeat: no-repeat;
}

.blacklist{
  background: url('../images/blacklist.svg');
  background-repeat: no-repeat;
}

.gain{
  background: url('../images/gain.svg');
  background-repeat: no-repeat;
}

.title-module{
  color: white;
  font-family: cursive;
  font-size: 20px;
}

hr.message-inner-separator
{
    clear: both;
    margin-top: 10px;
    margin-bottom: 13px;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}

.alert-black {
  color: #6A6A6A;
  background-color: #EAE9E7;
  border-color: #DEDEDD;
}

/* Css de rutes.html */
.newRute {
  padding: 20px;
  background: white;
  border: 2px dashed skyblue;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.newRute:hover{
  background: whiteSmoke;
  border: 2px dashed rgb(57,184,57);
}

.textnRute {
  color: gray;
  font-family: sans-serif;
  font-size: 17px;
}

.rute {
  padding: 15px;
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}

.line-h {
  line-height: 2;
}

.line-h4 {
  line-height: 4;
}

.textClients {
  color: rgb(128, 168, 227);
  font-size: 14px;
  font-family: sans-serif;
}

.gridStyles{
  width: 100%;
  height: 300px;
}

.subtitleRute{
  color: gray !important;
}

/* Login */
html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: 100% 100%;
    background: url('../images/imeLogin.svg');
    background-repeat: no-repeat;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* Gain */
.wrapper-content {
  padding: 20px 10px 40px;
}

.wrapper {
  padding: 0 20px;
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  z-index: 100;
}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.navy-bg {
  background-color: rgb(57,184,57);
  color: #ffffff;
}

.lazur-bg {
  background-color: #ED3F40;
  color: #ffffff;
}

.smoke-bg{
  background: whitesmoke;
}

.yellow-bg {
  background-color: #f8ac59;
  color: #ffffff;
}

.flot-chart-content {
  width: 100%;
  height: 100%;
}

.widget .flot-chart {
  height: 100px;
}

.flot-chart {
  display: block;
  height: 200px;
}
.paid{
  background: none repeat scroll 0% 0% #8EE98E;
  border-bottom: rgba(206, 233, 206, 1) 4px  solid;
}

.paid-column{
  background: transparent !important;
}

.pad-0 {
  padding: 0px !important;
}