<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">¡Edita tu Ruta!</h4>
</div>

<div class="modal-body">
	<form name="editRuteForm" >
		<label>Cédula </label>
       <label class="form-control">{{route.id}}</label>
		<label>Nombre  </label><input class="form-control" ng-model="route.name"value="{{route.name}}" type="text" required />
		<label>Presupuesto</label><input class="form-control" value="{{route.badget}}" ng-model="route.badget" type="number" required />
		<label>Célular</label><input class="form-control" ng-model="route.cellphone" type="text" value="{{route.cellphone}}" required />
		<label>Télefono</label><input class="form-control" ng-model="route.landline" type="text" value="{{route.landline}}" required />
		<label>Ciudad</label><input class="form-control" ng-model="route.city" type="text" value="{{route.city}}" required />
		<br/>
		<button class="btn btn-warning" ng-disabled="editRuteForm.$invalid" disabled="disabled" ng-click="editRoute()">Actualizar Ruta</button>
	</form>
</div>