<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">¡Añade una nueva Ruta!</h4>
</div>

<div class="modal-body">
	<form name="newRouteForm">
		<label>Nombre de la ruta</label><input class="form-control" type="text" ng-model="newRute.name" required />
		<label>Password</label><input class="form-control" type="password" ng-model="newRute.password" required />
		<label>Presupuesto</label><input class="form-control" type="number" ng-model="newRute.badget" required />	
		<label>Cédula</label><input class="form-control" type="text" ng-model="newRute.id" required />
		<label>Célular</label><input class="form-control" type="text" ng-model="newRute.cellphone" required />
		<label>Télefono</label><input class="form-control" type="text" ng-model="newRute.landline" required />
		<label>Ciudad</label><input class="form-control" type="text" ng-model="newRute.city" required />
	<br/>
	<button class="btn btn-success" ng-disabled="newRouteForm.$invalid" ng-click="snewRute()">Añadir Ruta</button>
	</form>
</div>