<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">¡Edita tu prestamo!</h4>
</div>

<div class="modal-body">
	<form name="formEditLoan">
		<label>Monto Prestado</label><input class="form-control" value="{{loan.amountloans}}" ng-model="loan.amountloans" type="number" required />
		<label>Fecha límite de pago</label><input class="form-control" value="{{loan.paymentdatelimit}}" ng-model="loan.paymentdatelimit" type="date" required />
		<br/>
		<button class="btn btn-success" ng-disabled="formEditLoan.$invalid" ng-click="editLoan()">Añadir Préstamo</button>
	</form>
</div>