<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Crear prestamo</h4>
</div>

<div class="modal-body">
	<form name="newLoanForm">
		<label>Monto Prestado</label>
		<input class="form-control" min="0" ng-model="myNewLoan.amountloans" max="{{max_badget}}" type="number" required />
		<!-- <label>Fecha de prestamo</label><input class="form-control" ng-model="newLoan.paymentdate" placeholder="yyyy-MM-dd" type="date" required /> -->
		<label>Fecha límite de pago</label><input class="form-control" placeholder="yyyy-MM-dd" ng-model="myNewLoan.paymentdatelimit"  type="date" required />
		<br/>
		<button class="btn btn-success" ng-click="new()">Añadir Préstamo</button>
	</form>
</div>