<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Pagar deuda</h4>
</div>

<div class="modal-body">
	<span>¿Estás seguro?</span>
	<button class="btn btn-default" ng-click="cancel()">No</button>
	<button class="btn btn-danger" ng-click="payConfirm()">Si</button>
</div>