<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="height: 65px !important">
        <img alt="Brand" src="/images/ruteBrand.svg">
      </a>
    </div>
      <span class="textnRute line-h4">{{name}}</span>
      <!-- Ver prestamos de la Ruta -->
		
		
  </div>
</nav>
<div class="row">
	<h1 class="pull-left">Clientes</h1>
	<button class="btn btn-success pull-right" ng-click="addClient()" data-ng-show="rol=='false'" style="margin: 25px;">Añadir Cliente</button>
</div>
<div class="col-md-12">
	<h2 ng-show="clients.length == 0">No hay ningun cliente en este momento</h2>
    <div class="table-responsive" ng-hide="clients.length == 0">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Célular</th>
                <th>Télefono Fijo</th>
                <th>Dirección</th>
            </thead>
    		<tbody>
    			<tr ng-repeat="client in clients">
			    	<td>{{client.nameclient}}</td>
			    	<td>{{client.id}}</td>
				    <td>{{client.cellphone}}</td>
				    <td>{{client.landline}}</td>
				    <td>{{client.address}}</td>
				    
				    <td>
				    	<p>
				    		<button class="btn btn-success btn-xs" ng-click="newLoan($index)" data-ng-show="rol=='false'">Crear Prestamo</button>
				    	</p>
				    </td>
				    <td>
				    	<p><button class="btn btn-danger btn-xs" ng-hide="{{client.blist}}" ng-click="addToBlacklist($index, client.blist)">Agregar a lista negra </button></p>
				    </td>
				    <td>
				    	<p><button class="btn btn-warning btn-xs" ng-click="editClient($index, client)" data-ng-show="rol=='false'">Editar</button></p>
				    </td>
				    <td>
				    	<p><button class="btn btn-danger btn-xs" ng-click="deleteClient($index)" data-ng-show="rol=='false'">Eliminar</button></p>
		    		</td>
			    </tr>
			</tbody>
        </table>

		
    </div>
</div>


