<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Agregar Cliente</h4>
</div>

<div class="modal-body">
	<form name="addClientForm" >
		
		<label>Nombre</label><input class="form-control" ng-model="newClient.nameclient" type="text" required />
		<label>Cedula</label><input class="form-control" type="number" ng-model="newClient.id" required />
		<label>Célular</label><input class="form-control" ng-model="newClient.cellphone" type="text"  required />
		<label>Télefono</label><input class="form-control" ng-model="newClient.landline" type="text"  required />
		<label>Direccion</label><input class="form-control" ng-model="newClient.address" type="text"  required />
		<br/>
		<button class="btn btn-warning" ng-disabled="addClientForm.$invalid" disabled="disabled" ng-click="saveNewClient()">Agregar Cliente</button>
	</form>
</div>