<div class="modal-header">
	<button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title">Editar Cliente</h4>
</div>

<div class="modal-body">
	<form name="editClientForm" >
		
		<label>Nombre </label><input value="{{client.nameclient}}" class="form-control" ng-model="client.nameclient" value="{{client.nameclient}}"type="text" required />
		<label>Célular</label><input value="{{client.cellphone}}" class="form-control" ng-model="client.cellphone" type="text"  required />
		<label>Télefono</label><input value="{{client.landline}}" class="form-control" ng-model="client.landline" type="text"  required />
		<label>Direccion</label><input class="form-control" value="client.address" ng-model="client.address" type="text"  required />
		<br/>
		<button class="btn btn-warning" ng-disabled="editClientForm.$invalid" disabled="disabled" ng-click="edit()">Actualizar Cliente</button>
	</form>
</div>