<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="height: 65px !important">
        <img alt="Brand" src="/images/ruteBrand.svg">
      </a>
    </div>
      <span class="textnRute line-h4">Préstamos</span>
      <!-- Crear prestamos de la Ruta -->
		<!-- <button type="button" ng-click="add()" class="btn btn-primary pull-right" style="margin: 15px;">Crear préstamos</button> -->
		
  </div>
</nav>
<div class="col-md-12">
    <h2 ng-show="loans.length==0">Esta ruta no tiene prestamos</h2>
    <div class="table-responsive" ng-hide="loans.length==0">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
               
                <th>Nombre de cliente</th>
                <th>Cédula de cliente</th>
                <th>Monto prestado</th>
                <th>Interes </th>
                <th>Fecha de Prestamo</th>
                <th>Fecha límite de pago</th>
               
            </thead>
    		<tbody>
    			<tr ng-class="{'paid': loan.state}" ng-repeat="loan in loans">
			    	
			    	<td class="paid-column">{{loan.cliente.nameclient}}</td>
			    	<td class="paid-column">{{loan.cliente.id}}</td>
				    <td class="paid-column">{{loan.amountloans}}$</td>
				    <td class="paid-column">20%</td>
            <td class="paid-column">{{loan.loandate | date:'yyyy-MM-dd'}}</td>
				    <td class="paid-column">{{loan.paymentdatelimit | date:'yyyy-MM-dd'}}</td>
				    <td class="paid-column">{{loan.paymentdate | date:'yyyy-MM-dd'}} <button type="button" ng-click="pay($index)" class="btn btn-success btn-xs" data-ng-show="rol=='false' && !loan.state">Pagar</button></td>
				   	<td class="paid-column"><p><button class="btn btn-warning btn-xs" ng-click="edit($index, loan)" data-ng-show="rol=='false'">Editar</button></p></td>
				    <td class="paid-column"><p><button class="btn btn-danger btn-xs" data-ng-show="rol=='false'" ng-click="delete($index)">Eliminar</button></p></td>
			    </tr>
			</tbody>
        </table>

		
    </div>
</div>

