<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="height: 65px !important">
        <img alt="Brand" src="/images/ruteBrand.svg">
      </a>
    </div>
      <span class="textnRute line-h4">{{name}}</span>
      <!-- Ver prestamos de la Ruta -->
  </div>
</nav>
<div class="row">

	<button type="button" ng-click="new()" class="newRute" data-ng-show="rol=='true'">
		<span class="textnRute">Crear nueva ruta</span></a>
	</button>
	
	<div class="container">
		<ul>
			<li class="rute" ng-repeat="rute in rutes" >
				<div class="pull-left">
					<span class="textnRute line-h">{{rute.name}}</span>
					<i class="textClients line-h">(<b class="subtitleRute">Ciudad</b> {{rute.city}})</i>
					<i class="textClients line-h">(<b class="subtitleRute">Télefono</b> {{rute.landline}})</i>
					<i class="textClients line-h">(<b class="subtitleRute">Célular</b> {{rute.cellphone}})</i>

				</div>
				<div class="pull-right">
					<!-- Ver ruta -->
					<td><a href="#/{{rute.id}}/loans" >
						<button type="button" class="btn btn-primary ">Préstamos</button>
					</a></td> 
					<td><a href="#/{{rute.id}}/clients/{{rute.badget}}" >
						<button type="button" class="btn btn-primary">Clientes</button>
					</a></td>
					<!-- Editar Ruta -->
					<button type="button" ng-click="edit(rute,$index)" class="btn btn-warning">Editar</button>
					<!-- Eliminar Ruta -->
					<button type="button" ng-click="showDeleteModal($index)" class="btn btn-danger" data-ng-show="rol=='true'">Eliminar</button>
				</div>
			</li>
		</ul>
	</div>
</div>
