<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="height: 65px !important">
        <img alt="Brand" src="/images/liquidityBrand.svg">
      </a>
    </div>
      <span class="textnRute line-h4">Clientes Morosos</span>
	</div>
</nav>

<div class="col-md-12">
    <div class="table-responsive">
        <table id="mytable" class="table table-bordred table-striped">
            <thead>
                <th>Mes</th>
                <th>Celular</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th></th>
            </thead>
    		<tbody>
    			<tr ng-repeat="userlist in blacklist">
			    	<td>{{userlist.nameclient}}</td>
			    	<td>{{userlist.cellphone}}</td>
				    <td>{{userlist.landline}}</td>
            <td>{{userlist.address}}</td>
				    <td><p><button ng-click="rescue(userlist,$index)" class="btn btn-success btn-xs">Quitar de morosos</button></p></td>
			    </tr>
			</tbody>
        </table>

    </div>
</div>
