<div class="wrapper wrapper-content animated fadeInRight" ng-controller="GainCtrl">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget style1 smoke-bg">
                        <div class="row">
                            <div class="col-xs-4 text-center">
                                <i class="glyphicon glyphicon-th-list" style="font-size: 55px;"></i>
                            </div>
                            <div class="col-xs-8 text-right">
                                <span> Número de prestamos </span>
                                <h2 class="font-bold">{{ganancias.ganancia.prestamos}}</h2>
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 navy-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="glyphicon glyphicon-user" style="font-size: 55px;"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Número de clientes </span>
                            <h2 class="font-bold">{{ganancias.ganancia.clientes}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 lazur-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="glyphicon glyphicon-road" style="font-size: 55px;"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Número de rutas </span>
                            <h2 class="font-bold">{{ganancias.ganancia.rutas}}</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget style1 yellow-bg">
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="glyphicon glyphicon-file" style="font-size: 55px;"></i>
                        </div>
                        <div class="col-xs-8 text-right">
                            <span> Lista negra </span>
                            <h2 class="font-bold">{{ganancias.ganancia.clientesListaNegra}}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget navy-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">$ {{ganancias.ganancia.gananciaAbsoluta}}</h1>

                        <h3 class="font-bold no-margins">
                            Ganancia absoluta
                        </h3>
                        <small>Ganancia neta en base a préstamos.</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart1" style="padding: 0px; position: relative;"><canvas class="base" width="525" height="100"></canvas><canvas class="overlay" width="525" height="100" style="position: absolute; left: 0px; top: 0px;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget lazur-bg no-padding">
                    <div class="p-m">
                        <h1 class="m-xs">$ {{ganancias.ganancia.montoInvertido}}</h1>

                        <h3 class="font-bold no-margins">
                            Monto Invertido
                        </h3>
                        <small>Valor total de préstamos.</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart2" style="padding: 0px; position: relative;"><canvas class="base" width="247" height="100"></canvas><canvas class="overlay" width="247" height="100" style="position: absolute; left: 0px; top: 0px;"></canvas></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget yellw-bg no-padding smoke-bg">
                    <div class="p-m">
                        <h1 class="m-xs">$ {{ganancias.ganancia.montoAdeudado}}</h1>

                        <h3 class="font-bold no-margins">
                            Monto Adeudado
                        </h3>
                        <small>Deuda total de clientes.</small>
                    </div>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-chart3" style="padding: 0px; position: relative;"><canvas class="base" width="247" height="100"></canvas><canvas class="overlay" width="247" height="100" style="position: absolute; left: 0px; top: 0px;"></canvas></div>
                    </div>
                </div>
            </div>
        </div>
</div>
