<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style="height: 65px !important">
        <img alt="Brand" src="/images/liquidityBrand.svg">
      </a>
    </div>

	</div>
</nav>

<div class="col-md-12">
    <div  class="table-responsive">
        <table id="mytable" class="table table-bordred table-hover table-striped">
            <thead>
                <th>Mes</th>
                <th>Diferencia</th>
                <th>Monto Invertido</th>
                <th>Ganancia</th>
            </thead>
        		<tbody >
        			<tr ng-repeat="liquiditys in liquidity.datos">

    			    	<td>{{liquiditys.mes}} - {{liquiditys.anio}}</td>
    			    	<td>{{liquiditys.diferencia}}%</td>
    				    <td>{{liquiditys.invertido}}$</td>
    				    <td>{{liquiditys.total}}$</td>

    			    </tr>
    			</tbody>
        </table>
    </div>
    <h2 ng-hide="liquidity.datos.length">No hay datos de liquidación hasta el momento</h2>
</div>