<div class="container">
	<div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="">
                    <input name="user" type="text" placeholder="Nombre de usuario" ng-model="login.email">
                    <input type="password" placeholder="Contraseña" ng-model="login.password">
                    <button ng-click="logIn(login.email, login.password)" class="btn btn-success btn-block login" type="submit" >Entrar</button>
                </form>
            </div>
        </div>
        
</div>
