
<div style="text-align: center;"><span style="color: gray;font-size: 30px;" data-ng-bind="nombre"></span></div>

  <div class="row" ng-controller="MainCtrl">
    <div class="col-md-12 col-xs-12">
      <a ng-href="#/rutes">
        <div class="col-md-3 col-xs-3 moduleF green">
          <span class="title-module" >Rutas</span >
          <div class="content-brand-section ruteg"></div>
        </div>
      </a>
      <a ng-href="#/liquidity">
        <div class="col-md-3 col-xs-3 moduleF blue">
          <span class="title-module" >Liquidez</span>
          <div class="content-brand-section liquidity"></div>
        </div>
      </a>
      <a ng-href="#/blacklist">
        <div class="col-md-3 col-xs-3 moduleF gray">
          <span class="title-module" >Lista Negra</span>
          <div class="content-brand-section blacklist"></div>
        </div>
      </a>
      <a ng-href="#/gain" data-ng-show="rol=='true'">
        <div class="col-md-3 col-xs-3 moduleF red">
          <span class="title-module" >Ganancia</span>
          <div class="content-brand-section gain"></div>
        </div>
      </a>
      <a data-ng-show="rol=='false'">
        <div class="col-md-3 col-xs-3 moduleF pad-0">
          <form name="contactForm" method="post" class="form-group" novalidate>
            <div ng-class="{'form-error':contactForm.name.$dirty && contactForm.name.$invalid, 'form-group':true}"> 
              <input type="text" name="name" ng-model="formData.name" placeholder="Nombre" class="form-control" required />
              <div ng-messages="contactForm.name.$error" ng-show="contactForm.name.$dirty" >
                <div ng-message="minlength">Name too short</div>
                <div ng-message="required">Required Name</div>
              </div>
            </div>
            <textarea placeholder="¿Cuanto cobró hoy?" rows="8" class="form-control" ng-model="formData.body" required></textarea>
            <input class="btn btn-success btn-large" ng-click="enviarEmail()" type="submit" value="Enviar Cobró" />
        </form>
        </div>
      </a>
    </div>
  </div>

<hr>
<!-- Explicación de Modulos -->

<div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
               <span class="glyphicon glyphicon-road"></span> <strong>Rutas</strong>
                <hr class="message-inner-separator">
                <p>
                    Ingresa a tus clientes, prestamos asociados y a su información.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-barcode"></span> <strong>Liquidez</strong>
                <hr class="message-inner-separator">
                <p>
                    Ingresa tus liquidaciones y observa el historial de los mismos, mes a mes.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-black">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-eye-open"></span> <strong>Lista negra</strong>
                <hr class="message-inner-separator">
                <p>
                    Clientes morosos o con varias deudas asociadas los encontraras aquí.</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    ×</button>
                <span class="glyphicon glyphicon-usd"></span> <strong>Ganancias</strong>
                <hr class="message-inner-separator">
                <p>
                    Tus historial de ganancias mes a mes, un reporte financiero completo.</p>
            </div>
        </div>
        
</div>